* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a { text-decoration: none; }

body { background:#555; }

.title {
    background: #333;
    color: pink;
    text-align: center;
    margin: auto;   
    margin-top: 2%;
    width: 77%;
    line-height: 44px;
}

.title h2 {
    text-shadow: 2px 2px 5px palevioletred;
}

.paint {
    display: flex;
    justify-content: center;
}

#tools {
    width: 6%;
    background: #ccc
}

button, input {
    text-align: center;
    display: block;
    cursor: pointer;
    margin: 5px;
    width: 80px;
    height: 30px;
    font-size: 16px;
}

button:focus-within {
    background: #999;
    color: #fff;
    border: 2px solid white;
}

button:active {
    border: 5px solid white;
}

#canvas { cursor: pointer; }
